# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files


__pycache__/
api/venv

.vscode/

# dependencies
ui/node_modules/

# Expo
ui/.expo/
ui/dist/
ui/web-build/

# Native
ui/*.orig.*
ui/*.jks
ui/*.p8
ui/*.p12
ui/*.key
ui/*.mobileprovision

# Metro
ui/.metro-health-check*

# debug
ui/npm-debug.*
ui/yarn-debug.*
ui/yarn-error.*

# macOS
ui/.DS_Store
ui/*.pem

# local env files
ui/.env*.local

# typescript
ui/*.tsbuildinfo
