# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

insiit-ui/.vscode/

# dependencies
insiit-ui/node_modules/

# Expo
insiit-ui/.expo/
insiit-ui/dist/
insiit-ui/web-binsiit-uild/

# Native
insiit-insiit-ui/*.orig.*
insiit-ui/*.jks
insiit-ui/*.p8
insiit-ui/*.p12
insiit-ui/*.key
insiit-ui/*.mobileprovision

# Metro
insiit-ui/.metro-health-check*

# debug
insiit-ui/npm-debug.*
insiit-ui/yarn-debug.*
insiit-ui/yarn-error.*

# macOS
insiit-ui/.DS_Store
insiit-ui/*.pem

# local env files
insiit-ui/.env*.local

# typescript
insiit-ui/*.tsbinsiit-uildinfo
